<!doctype html>
<html lang="en" ng-app="youtubeApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cloud Computing Test Site</title>

	<link rel="stylesheet" href="stylesheets/foundation.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>

</head>
<body>

	<div style="text-align:center" ng-controller="YouTubeController">
		
		<h1>What is your favourite YouTube video?</h1>

		<br />
		
		<div class="row collapse">
			<div class="large-3 columns">
				<span class="prefix">Name</span>
			</div>
			<div class="large-9 columns">
				<input type="text" placeholder="Enter your name" ng-model="name" />
			</div>
		</div>

		<div class="row collapse">
			<div class="large-3 columns">
				<span class="prefix">http://www.youtube.com/watch?v=</span>
			</div>
			<div class="large-8 columns">
				<input type="text" placeholder="YouTube video id" ng-model="code" />
			</div>
			<div class="large-1 columns">
				<button class="button postfix" ng-click="addLink(code, name)">Submit</button>
			</div>
		</div>

		<br />
		<br />
		<div class="row">
			<p id="empty" ng-hide="(youtube.$getIndex() || youtube.length) || !loaded">You have not added any YouTube videos! Add one now!</p>

			<ul id="videos" class="small-block-grid-3">
				<li ng-repeat="video in videos">
					<iframe ng-src="{{getYouTubeUrl(video)}}" frameborder="0" allowfullscreen></iframe>
					Submitted by: {{video.by}}
				</li>
			</ul>

		</div>

	</div>

	<script src="javascripts/jquery.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script src="javascripts/modernizr.js"></script>

	<script>

		var app = angular.module('youtubeApp', ['firebase']);

		app.controller('YouTubeController', function($scope, $sce, $firebase) {

			$scope.loaded = false;

			var ref = new Firebase('https://edwardcloudcomputing.firebaseio.com/youtube');
          	$scope.youtube = $firebase(ref);
          	$scope.youtube.$bind($scope, "videos");

          	$scope.addLink = function(codeStr, name) {

          		if(typeof name === "undefined") {
          			alert("Please enter a name");
          			return false;
          		}

          		if(typeof codeStr === "undefined") {
          			alert("Please enter a YouTube id");
          			return false;
          		}

          		if(codeStr != '' && name != '') {

          			if(!name.match(/[a-zA-Z0-9]+/)) {

          				alert("Please enter a valid name");
          				return false;

          			}

          			if(!codeStr.match(/[\w\-]{11}/)) {

          				alert("Please enter a valid YouTube video id");
          				return false;

          			}

          			// Reset
          			$scope.code = "";
          			$scope.name = "";

          			var id = generateID();
          			$scope.youtube.$child(id).$set({
          				id: id,
          				by: name,
          				url: "https://www.youtube.com/embed/" + codeStr
          			});


          		} else {

          			if(name == '') {
          				alert("Please enter your name");
          			} else {
          				alert("Please enter a YouTube id");
          			}


          		}

          	};

          	// Have to use a roundabout way to get url and bind it
          	// new angularJS implementation do not allow direct binding
          	// of url to iframes
          	$scope.getYouTubeUrl = function(video) {
          		return $sce.trustAsResourceUrl(video.url);
          	};

          	// Random ID generator
			function generateID() {
				var chars, x, length = 10;
				chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-=";
				var name = [];
				for (x = 0; x < length; x++) {
					name.push(chars[Math.floor(Math.random() * chars.length)]);
				}
				var id = name.join('');
				if ($scope.youtube.$getIndex().indexOf(id) === -1) {
					return id;
				} else {
					generateId();
				}
			}

		});

		
	</script>

</body>
</html>